<po-page-default p-title="Dashboard" [p-breadcrumb]="breadcrumb">
  <div class="po-row">

    <po-container class="po-lg-3 po-text-center">
      <div class="po-mt-4 po-mb-4">
        <span class="fa-solid fa-search fa-5x"></span>
      </div>
      <div class="po-font-text-large">
        <po-link p-label="Serviços" p-url="services"></po-link>
      </div>
    </po-container>

    <po-container class="po-lg-3 po-text-center">
      <div class="po-mt-4 po-mb-4">
        <span class="fa-solid fa-file-lines fa-5x"></span>
      </div>
      <div class="po-font-text-large">
        <po-link p-label="Pedidos" p-url="orders"></po-link>
      </div>
    </po-container>

    <po-container class="po-lg-3 po-text-center">
      <div class="po-mt-4 po-mb-4">
        <span class="fa-solid fa-thumbtack fa-5x"></span>
      </div>
      <div class="po-font-text-large">
        <po-link p-label="Notificações" p-url="notifications"></po-link>
      </div>
    </po-container>

    <po-container class="po-lg-3 po-text-center">
      <div class="po-mt-4 po-mb-4">
        <span class="fa-solid fa-user-gear fa-5x"></span>
      </div>
      <div class="po-font-text-large">
        <po-link p-label="Configurações" p-url="settings"></po-link>
      </div>
    </po-container>

  </div>
</po-page-default>