<section class="po-p-5">

  <po-button class="po-mb-2" p-label="Voltar" p-icon="fa fa-arrow-left" p-kind="tertiary" [routerLink]="['/']"></po-button>

  <div class="po-container po-display-flex po-align-items-center po-justify-content-center po-flex-direction-column po-gap-2" [style]="{
    '--padding': '1rem',
    '--border-radius': 'var(--border-radius-md)', 
    '--background': 'var(--color-neutral-light-00)',
    '--border-color': 'var(--color-neutral-light-20)',
    '--border-width': 'var(--border-width-sm)',
    'height': '650px'}">

    <h1 class="po-font-title po-text-center">
      <strong>Por favor, escolher um dos tipos abaixo que você gostaria de ser!</strong>
    </h1>

    <div class="po-display-flex po-justify-content-center po-gap-2">
      <po-button 
        class="po-overlaid-shadow" 
        p-size="medium" 
        p-kind="primary" 
        p-label="Eu gostaria de ser cliente" 
        [routerLink]="['/register/customer']">
      </po-button>
      <po-button 
        class="po-overlaid-shadow" 
        p-size="medium" 
        p-kind="secondary" 
        p-label="Eu gostaria de ser prestador de serviço"
        [routerLink]="['/register/service-provider']">
      </po-button>
    </div>
  </div>
</section>