<po-page-default p-title="Home" [p-breadcrumb]="breadcrumb">
  <div class="po-row">
    <po-widget class="po-md-6 po-lg-4 po-mb-2" p-title="Total de serviços solicitados" [p-height]="200">
      <div class="po-font-title po-text-center">2</div>
      <div class="po-text-center">serviços</div>
    </po-widget>

    <po-widget class="po-md-6 po-lg-4 po-mb-2" p-title="Total de serviços em andamento" [p-height]="200">
      <div class="po-font-title po-text-center">1</div>
      <div class="po-text-center">serviços</div>
    </po-widget>

    <po-widget class="po-md-6 po-lg-4 po-mb-2" p-title="Total de serviços finalizados" [p-height]="200">
      <div class="po-font-title po-text-center">1</div>
      <div class="po-text-center">serviços</div>
    </po-widget>

  </div>

  <hr />
</po-page-default>